name: 'Tests'
on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Runs unit tests
        run: flutter test
